footer
	background #2e3e4f
	padding 40px 0 40px 0
	a:hover
		text-decoration underline

.footer_col
	h4
		color orangeColor
		font-weight bold
		text-align center
		margin-bottom 12px

.footer_news_wrap
	font-size 12px
	color #929ea3
	padding 16px 0px 16px 0px
	border-bottom 1px solid brdrColor
	a
		display block
		color #228cbc

.footer_news_wrap:last-child
	padding 16px 0px 0px 0px
	border-bottom none
	
.feedback
	padding 16px 0 0 0
	textarea
		width 100%
.footer_input
	border-radius 5px
	margin-bottom 8px
	display block
.footer_submit
	border-radius 5px
	cursor pointer
.feedback input[type=submit]
	background orangeColor
	color #fff
	border none
	padding 4px
	margin 0 auto

.footer_contacts
	display flex
	padding 32px 0 0 0
	font-size 12px
	color #929ea3
	&:first-child
		padding 16px 0 0 0
.icon_text
	display flex
	flex-direction column
	justify-content center
	a
		font-size 12px
		color #929ea3
.footer_icon
	width 45px
.helper
	display inline-block
	height 100%
	vertical-align middle