footer#section_3
	.container
		.row
			.col-12.col-lg-4.footer_col
				h4 Новости
				.footer_news_wrap
					p Узнайте об этом первым
						a(href="javascript:void(0);") Ссылка
						| Дата публицкации ...
				.footer_news_wrap
					p Узнайте об этом первым
						a(href="javascript:void(0);") Ссылка
						| Дата публицкации ...
				.footer_news_wrap
					p Узнайте об этом первым
						a(href="javascript:void(0);") Ссылка
						| Дата публицкации ...


			.col-12.col-lg-4.footer_col
				h4 Обратная связь
				form.feedback
					input(name="name" placeholder="Ваше имя" type="text").footer_input
					input(name="emailaddress" placeholder="Ваш e-mail" type="email").footer_input
					textarea(rows="4" name="subject" placeholder="Введите ваше сообщение").footer_input
					input(name="submit" type="submit" value="Отправить").footer_submit


			.col-12.col-lg-4.footer_col
				h4 Конатакты
				.footer_contacts_wrap
					.footer_contacts
						i.footer_icon
							span.helper
							img(src="img/icons/phone.png", alt="phone")
						.icon_text
							a(href="javascript:void(0);") 1-000-000-00-00
							a(href="javascript:void(0);") 1-080-080-08-08
					.footer_contacts
						i.footer_icon
							span.helper
							img(src="img/icons/mobile.png", alt="mobile")
						.icon_text
							strong Whatsapp
							a(href="javascript:void(0);") 1-000-000-00-00
					.footer_contacts
						i.footer_icon
							span.helper
							img(src="img/icons/mail.png", alt="mail")
						.icon_text
							a(href="javascript:void(0);") abcdef@gmail.com
							a(href="javascript:void(0);") ghijkl@gmail.com