header#main
	.overlay.hide-all
	.container.to_help
	nav.menu
		a(href="javascript:void(0);").logo 
			span.logo-span-1 LIKE
			span.logo-span-2 FILM
		ul.menu_ul
			li.nav-item.active
				a(href="#main").nav-link-a
					span Главная
			li.nav-item
				a(href="#section_1").nav-link-a
					span Фильмы
			li.nav-item
				a(href="#section_2").nav-link-a
					span О проекте
		a(href="javascript:void(0);").hamburger
			span.line
			span.line
			span.line

		//- nav.navbar.fixed-top.navbar-toggleable-md.navbar-light
		//- 	button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
		//- 		span.navbar-toggler-icon
		//- 	a(href="javascript:void(0);").navbar-brand
		//- 		span LIKEFILM

		//- 	#navbarNav.navbar-collapse.collapse
		//- 		ul.navbar-nav.ml-auto
		//- 			li.nav-item.active
		//- 				a(href="#main").nav-link 
		//- 					span Главная
		//- 			li.nav-item
		//- 				a(href="#section_1").nav-link
		//- 					span Фильмы
		//- 			li.nav-item
		//- 				a(href="#section_2").nav-link
		//- 					span О проекте
					//- li.nav-item
					//- 	a(href="#section_3").nav-link
					//- 		span Контакты
	.wrapper_image
		span
			img(src="img/icons/LIKE-FILM.svg" width="200" height="200")