extends ../layout/layout
block title
	| Главная страница

block content
	section.news#section_1
		.container
			.row.row_last_project_title
				.col-12.col_last_project_title
					span мой топ фильмов
		.container-fluid.genre_wrap
			.container
				.row
					.col-12
						.genre_ham_mnu
							a(href="javascript:void(0);").genre_ham_mnu_link
								span Выбрать жанр
						nav.genre_nav
							ul.genre_ul
								li.genre_item.active_genre
									a(href="javascript:void(0);")
										span Все
								li.genre_item
									a(href="javascript:void(0);")
										span Триллеры
								li.genre_item
									a(href="javascript:void(0);")
										span Ужасы
								li.genre_item
									a(href="javascript:void(0);")
										span Комедии
								li.genre_item
									a(href="javascript:void(0);")
										span Боевики
								li.genre_item.sub_menu_button
									a(href="javascript:void(0);")
										span Другие жанры
											i.fa.fa-caret-down
									ul.sub_menu
										li.sub_menu_item
											a(href="javascript:void(0);")
												span Драммы
										li.sub_menu_item
											a(href="javascript:void(0);")
												span Фантастика
										li.sub_menu_item
											a(href="javascript:void(0);")
												span Мультфильмы

		.container
			.row.new_films
				.col-12.col-lg-6.col-xl-4.film_card
					.film_img
						.image_to_film
							img(src="img/content/war-dogs-banner.jpg", alt="war-dogs")
							.caption
								h4 Парни со стволами
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, numquam.
								a(href="javascript:void(0);").btn Подробнее
						.film_text
							a(href="film_card.html")
								b Парни со стволами
							span
								i.fa.fa-film
								| Фильмы
							.film_text_bottom
								.stars-svg(data-stars="1")
									svg(height="21" width="21" data-rating="1").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="2").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="3").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="4").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="5").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
								article 03.12.2017


							//- input(type="radio" name="stars" id="star-null")
							//- input(type="radio" name="stars" id="star-1")
							//- input(type="radio" name="stars" id="star-2")
							//- input(type="radio" name="stars" id="star-3")
							//- input(type="radio" name="stars" id="star-4")
							//- input(type="radio" name="stars" id="star-5")
							//- section.stars
							//- 	label(for="star-1")
							//- 		svg(width="255" height="240" viewBox="0 0 51 48")
							//- 			path(d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z")
							//- 	label(for="star-2")
							//- 		svg(width="255" height="240" viewBox="0 0 51 48")
							//- 			path(d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z")
							//- 	label(for="star-3")
							//- 		svg(width="255" height="240" viewBox="0 0 51 48")
							//- 			path(d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z")
							//- 	label(for="star-4")
							//- 		svg(width="255" height="240" viewBox="0 0 51 48")
							//- 			path(d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z")
							//- 	label(for="star-5")
							//- 		svg(width="255" height="240" viewBox="0 0 51 48")
							//- 			path(d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z")
							//- 	label(for="star-null") Clear


				.col-12.col-lg-6.col-xl-4.film_card
					.film_img
						.image_to_film
							img(src="img/content/the-guest.jpg", alt="the-guest")
							.caption
								h4 Незванный гость
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, numquam.
								a(href="javascript:void(0);").btn Подробнее
						.film_text
							a(href="javascript:void(0);")
								b Незванный гость
							span
								i.fa.fa-film
								| Фильмы
							.film_text_bottom
								.stars-svg(data-stars="1")
									svg(height="21" width="21" data-rating="1").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="2").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="3").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="4").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="5").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
								article 03.12.2017

				.col-12.col-lg-6.col-xl-4.film_card
					.film_img
						.image_to_film
							img(src="img/content/a-walk-among-the-tombstones.jpg", alt="a-walk-among-the-tombstones")
							.caption
								h4 Прогулка среди могил
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, numquam.
								a(href="javascript:void(0);").btn Подробнее
						.film_text
							a(href="javascript:void(0);")
								b Прогулка среди могил
							span
								i.fa.fa-film
								| Фильмы
							.film_text_bottom
								.stars-svg(data-stars="1")
									svg(height="21" width="21" data-rating="1").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="2").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="3").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="4").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="5").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
								article 03.12.2017

				.col-12.col-lg-6.col-xl-4.film_card
					.film_img
						.image_to_film
							img(src="img/content/war-dogs-banner.jpg", alt="war-dogs")
							.caption
								h4 Парни со стволами
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, numquam.
								a(href="javascript:void(0);").btn Подробнее
						.film_text
							a(href="film_card.html")
								b Парни со стволами
							span
								i.fa.fa-film
								| Фильмы
							.film_text_bottom
								.stars-svg(data-stars="1")
									svg(height="21" width="21" data-rating="1").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="2").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="3").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="4").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="5").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
								article 03.12.2017
				.col-12.col-lg-6.col-xl-4.film_card
					.film_img
						.image_to_film
							img(src="img/content/the-guest.jpg", alt="the-guest")
							.caption
								h4 Незванный гость
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, numquam.
								a(href="javascript:void(0);").btn Подробнее
						.film_text
							a(href="javascript:void(0);")
								b Незванный гость
							span
								i.fa.fa-film
								| Фильмы
							.film_text_bottom
								.stars-svg(data-stars="1")
									svg(height="21" width="21" data-rating="1").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="2").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="3").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="4").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="5").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
								article 03.12.2017
				.col-12.col-lg-6.col-xl-4.film_card
					.film_img
						.image_to_film
							img(src="img/content/a-walk-among-the-tombstones.jpg", alt="a-walk-among-the-tombstones")
							.caption
								h4 Прогулка среди могил
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, numquam.
								a(href="javascript:void(0);").btn Подробнее
						.film_text
							a(href="javascript:void(0);")
								b Прогулка среди могил
							span
								i.fa.fa-film
								| Фильмы
							.film_text_bottom
								.stars-svg(data-stars="1")
									svg(height="21" width="21" data-rating="1").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="2").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="3").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="4").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="5").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
								article 03.12.2017
								
				.col-12.col-lg-6.col-xl-4.film_card
					.film_img
						.image_to_film
							img(src="img/content/war-dogs-banner.jpg", alt="war-dogs")
							.caption
								h4 Парни со стволами
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, numquam.
								a(href="javascript:void(0);").btn Подробнее
						.film_text
							a(href="film_card.html")
								b Парни со стволами
							span
								i.fa.fa-film
								| Фильмы
							.film_text_bottom
								.stars-svg(data-stars="1")
									svg(height="21" width="21" data-rating="1").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="2").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="3").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="4").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="5").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
								article 03.12.2017
				.col-12.col-lg-6.col-xl-4.film_card
					.film_img
						.image_to_film
							img(src="img/content/the-guest.jpg", alt="the-guest")
							.caption
								h4 Незванный гость
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, numquam.
								a(href="javascript:void(0);").btn Подробнее
						.film_text
							a(href="javascript:void(0);")
								b Незванный гость
							span
								i.fa.fa-film
								| Фильмы
							.film_text_bottom
								.stars-svg(data-stars="1")
									svg(height="21" width="21" data-rating="1").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="2").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="3").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="4").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="5").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
								article 03.12.2017
				.col-12.col-lg-6.col-xl-4.film_card
					.film_img
						.image_to_film
							img(src="img/content/a-walk-among-the-tombstones.jpg", alt="a-walk-among-the-tombstones")
							.caption
								h4 Прогулка среди могил
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, numquam.
								a(href="javascript:void(0);").btn Подробнее
						.film_text
							a(href="javascript:void(0);")
								b Прогулка среди могил
							span
								i.fa.fa-film
								| Фильмы
							.film_text_bottom
								.stars-svg(data-stars="1")
									svg(height="21" width="21" data-rating="1").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="2").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="3").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="4").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
									svg(height="21" width="21" data-rating="5").star.rating
										polygon(points="10,0,12.938926261462367,5.954915028125263,19.510565162951536,6.9098300562505255,14.755282581475768,11.545084971874736,15.877852522924734,18.090169943749473,10,15,4.12214747707527,18.090169943749473,5.244717418524233,11.545084971874738,0.4894348370484636,6.909830056250527,7.061073738537633,5.954915028125264")
								article 03.12.2017

				.col-12
					.pagination
						a(href="javascript:void(0);").pages.page_one.current_page
							span 1
						a(href="javascript:void(0);").pages.page_two 
							span 2
						a(href="javascript:void(0);").pages.page_three 
							span 3
						a(href="javascript:void(0);").prev_next.prev prev
						a(href="javascript:void(0);").prev_next.next next


	section.about#section_2
		.container-fluid.about_wrap
			.row
				.col-12.about_title
					span О проекте
		.container
			.row
				.col-12.about_text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatem, doloremque sint autem, praesentium alias. Soluta nam adipisci, tempore ipsa, ad velit quam obcaecati inventore tenetur eius deleniti facilis dicta voluptates libero ducimus dolores nemo aliquid necessitatibus, maiores similique iusto! Vel autem suscipit optio ex accusantium, dolore facere veritatis? Rem fugit suscipit magni delectus, cum natus voluptates possimus eaque maxime repellendus accusamus quaerat officia praesentium temporibus laboriosam fuga. Quae dicta in et est ipsam recusandae, dignissimos accusantium quas, repudiandae minus consequatur, distinctio cumque aperiam quidem delectus blanditiis numquam cum minima nemo earum vel ullam hic cupiditate. Eum explicabo magnam eius!
						